/***** Border-box *****/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*  ===============
    BASE STYLES
    ===============  */

/***** Fonts *****/

h1 {
    font-size: 3rem;
    font-family: 'Lobster Two', sans-serif;
}

h2,h3,h4 {
    font-size: 1.25rem;
}

body,
input {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/***** Color Palette *****/
/* #011E3D prussian blue*/
/* #3D5D73 chambray blue*/
/* #6098AA air force blue*/
/* #97B8C2 nepal blue*/
/* #F7EED7 island spice (creamy yellow)*/

header {
    background-color: #011E3D;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
body {
    background-color: #6098AA;
}

h1, 
h2,
label,
a,
p {
    color: #F7EED7;
}

h3,
h4 {
    color: white;
}

footer p {
    color: white;
}

button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    background-color: #3D5D73;
    margin: 10px 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    background-color: #97B8C2;

}

input {
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 8px;
    text-align: left;
}



    
/*  ===============
    PAGE LAYOUT
    ===============  */

html,
body {
    margin: 0;
    padding: 0;
}

header,
main,
footer, 
form {
    text-align: center;
}

main {
    margin-bottom: 60px;
}

header {
    padding: 10px;
}


h1,
h2 {
    margin: 0;
}

h3,
h4 {
    margin: 5px 0;
}

p {
    margin: 0;
}

label {
    display: block;
    margin-left: 0;
}

input {
    margin: 5px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    padding: 10px;
    background-color: #011E3D;
}

/***** Hidden Elements on Load *****/
#date-container,
#tide-results,
#restart-btn,
#geo-btn {
    display: none;
}

  
/*  ===============
    MODULES
    ===============  */

    /***** Location Search Form *****/
    
.location-form {
    width: 90%;
    max-width: 600px;
    margin: 5px auto;
    text-align: left;
}

.search-group {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.location-lbl {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.location-input {
    width: calc(100% - 100px);
}

.location-submit {
    max-width: 100px;
}

   /***** Map *****/

#map {
    height: calc(100vh - 300px); /* full viewport heigh minus ~header/footer/form */
    min-height: 275px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.info-label {
    font-size: 1rem;
    margin-top: 20px;
    width: 120px;
    margin-bottom: 5px;
    color: black;
}

.geo-btn {
    background-color: white;
    cursor: pointer;
    margin-right: 8px;
}

.geo-btn:hover {
    background-color: white;
}

.geo-btn img{
    margin: auto;
    margin-top: 4px;
}

/***** Date Filter *****/

.date-range {
    text-align: center;
}

.date-submit {
    display: block;
    margin: 10px auto;
}

.cancelBtn {
    background-color:tomato;
}

/***** Results *****/

.ajax-status {
    display: none;
    margin: 20px auto;
}

.results-heading {
    font-size: 1.75rem;
}

.time-notice {
    font-style: italic;
}

.height-input {
    display: inline-block;
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

.filter-label {
    display: inline;
}

.year-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-style: italic;
    font-size: 2rem;
    background-color: #011E3D;
    color: #F7EED7;
}

.month-heading {
    margin-top: 15px;
}

.results-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin: 10px auto;
    padding: 0 10px;
    max-width: 1600px;
}

.result-card {
    height: 30px;
    width: 300px;
    background-color: #3D5D73;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.result-card div {
    color: white;
}

.date-container {
    width: 40%;
    text-align: left;
}

.time-container {
    width:30%;
    text-align: right;
}

.tide-container {
    width:30%;
    padding-left: 10%;
    text-align: left;
}

.restart-btn {
    margin-top: 20px;
}

.am,
.pm {
    display:inline-block;
    line-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
}

.am {
    background: #97B8C2;
    color: #011E3D;
}

.pm {
    background: #011E3D;
    color: #97B8C2;
}

.Sat,
.Sun {
    font-weight: bold;
    font-style: italic;
}

.Sat span,
.Sun span {
    color: #F7EED7;
} 

/*  ===============
    MEDIA QUERIES
    ===============  */

@media (min-width: 600px){
    
    .month-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
        margin: 10px auto;
        padding: 0 10px;
        max-width: 1600px;
    }
    
    .result-card {
        height: 45px;
    }
    .am,
    .pm {
        line-height: 45px;
    }
}

@media (min-width: 900px){
    .month-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px){
    .month-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}